
/* COGS3 studyBuddy specific styles go here. */


#title {
    background-color: #065400;
}


.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Libre Franklin';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}

h2 {
    color: #fff;
    font-family: 'Libre Franklin';
    font-size: 1.5;
    font-weight: bold;

}

h3 {
    font-family: 'Libre Franklin';
    font-weight: bold;
}

p {
    color: #8f8f8f;
}


/* Navigation Bar */


.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand {
    font-family: "Roboto";
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFD671;
}

.navbar-brand:hover {
    color: black;
}
.nav-item {
    padding: 0 18px;
}

.nav-link {
    color: #FFD671;
}

.nav-link:hover {
    color: black;
}

.navbar-link {
    font-family: 'Libre Franklin';
    font-size: 1.2rem;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */


.title-image {
    width: 60%;
    transform: rotate(20deg);
    z-index: 1;
    position: absolute;
}

/* Features */

#features {
    padding: 7% 15%;
    background-color: #fff;
    z-index: 1;
    position: relative;
}

.feature-box {
    text-align: center; 
    padding: 5%;
}

.icon {
    color: #FFD671;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #065400;
}

/* Testimonials Section */

#testimonials {
    text-align: center;
    background-color: #065400;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 20%;
    border-radius: 30%;
    margin: 10px;
}

.testimonial-name {
    color: white;
}

#press {
    background-color: 065400;
    text-align: center;
}

.press-logo {
    width: 10%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-header {
    color: #000;
}

.pricing-column {
    padding: 3% 2%;
}

.pricing-color {
    color: black;
}

/* Call To Action Section CTA */

#cta {
    background-color: 065400;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading {
    font-family: 'Libre Franklin';
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
    color: black;
}

/* Footer Section */

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}



/* Media Query Section */

@media (max-width: 1020px){
    #title {
        text-align: center;
    }
        .title-image {
            position: static;
            transform: rotate(0);
        }
}